p{
    background-color: rgba(34, 20, 161, 0.411);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
.substr{

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;


}


.titre {

    font-size: 20px;
    color: rgb(57, 32, 201);

}


.link{

    font-weight: 700;
    font-size: 18px;
    color: rgb(255, 0, 179);


}

